.u-section-1 .u-sheet-1 {
  min-height: 791px;
}

.u-section-1 .u-text-1 {
  margin: 39px 401px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 66px 176px 60px 238px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 330px;
  }

  .u-section-1 .u-text-2 {
    line-height: 22.4px;
    width: 680px;
    margin-left: 138px;
    margin-right: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 253px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 120px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}